@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
  @apply text-[12px] md:text-[16px];
}

.text-heading-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[36px] md:text-[60px];
}

.text-heading-2 {
  line-height: 1.25;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[30px] md:text-[48px];
}

.text-heading-3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[24px] md:text-[40px];
}

.text-heading-4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[20px] md:text-[28px];
}

.text-heading-5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[18px] md:text-[24px];
}

.text-heading-6 {
  font-size: 21px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[15px] md:text-[21px];
}

.text-body-1 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  @apply text-[18px] md:text-[24px];
}

.text-body-2 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  @apply text-[16px] md:text-[18px];
}

.text-body-3 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  @apply text-[14px] md:text-[16px];
}

.text-body-4 {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  @apply text-[12px] md:text-[14px];
}

.text-label-1 {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  @apply text-[16px] md:text-[20px];
}

.text-label-2 {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  @apply text-[14px] md:text-[18px];
}

.text-cta-1 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-bottom: 2px;
  font-weight: 500;
  &:hover {
    padding-bottom: 0px;
    border-bottom: 2px solid currentColor;
  }
}

.text-caption {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.text-hyperlink {
  @apply hover:underline;
}

.layout-container {
  @apply max-w-[1344px] mx-auto px-3 md:px-8;
}

@layer components {  
  .button-select {
    @apply bg-neutral-100 hover:bg-neutral-200;
  }
}

.deo-table {
  @apply text-left;

  thead {
    @apply bg-neutral-100 border-b border-black;

    th {
      @apply p-4;
    }
  }

  tbody {
    tr:nth-child(even) {
      @apply bg-neutral-100;
    }

    td {
      @apply p-4;
    }
  }
}

.grid-container {
  @apply grid grid-cols-6 gap-5 md:grid-cols-12;
}

.result-text span {
  @apply bg-primary-200 px-[0.25em] inline-block h-full border-white border;
}