@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
  @apply md:text-[16px];
}

.text-heading-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.28;
  @apply text-[32px] md:text-[60px];
}

.text-heading-2 {
  line-height: 1.25;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[28px] md:text-[48px];
}

.text-heading-3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[21px] md:text-[32px];
}

.text-heading-4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[20px] md:text-[28px];
}

.text-heading-5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[18px] md:text-[24px];
}

.text-heading-6 {
  font-size: 21px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  @apply text-[15px] md:text-[21px];
}

.text-fullscreen-nav {
  font-family: 'Poppins', sans-serif;
  @apply text-[21px] md:text-[32px];
}

.text-body-1 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  @apply text-[18px] md:text-[24px];
}

.text-body-2 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  @apply text-[16px] md:text-[20px];
}

.text-body-3 {
  font-family: 'Poppins', sans-serif;
  @apply text-[16px] md:text-[18px];
}

.text-body-4 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.64;
  @apply text-[14px] md:text-[16px];
}

.text-label-1 {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  @apply text-[18px];
}

.text-label-2 {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  @apply text-[16px];
}

.text-cta-1 {
  // font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-bottom: 2px;
  font-weight: 500;
  letter-spacing: 0.04em;
  @apply text-[14px] md:text-[16px];
}

.text-cta-18 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-bottom: 2px;
  font-weight: 500;
  letter-spacing: 0.04em;
  &:hover {
    padding-bottom: 0px;
    border-bottom: 2px solid currentColor;
  }
}

.text-caption {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;

  strong {
    font-weight: 500;
  }
}

.text-hyperlink {
  @apply hover:underline;
}

a.text-hyperlink-blue {
  @apply underline text-primary-600 hover:text-primary-800;
}

.layout-container {
  @apply max-w-[1344px] mx-auto px-4 md:px-8;
}

@layer components {  
  .button-select {
    @apply bg-neutral-100 hover:bg-neutral-200 border border-neutral-100 hover:border-neutral-200;
  }
}

.deo-table {
  @apply text-left;

  thead {
    @apply bg-neutral-100 border-b border-neutral-400;

    th {
      @apply p-4;
    }
  }

  tbody {
    tr:nth-child(even) {
      @apply bg-neutral-100;
    }

    td {
      @apply p-4;
    }
  }
}

.grid-container {
  @apply grid grid-cols-6 gap-5 md:grid-cols-12;
}

.result-text {
  span {
    @apply bg-primary-100 px-[0.25em] inline-block h-full border-white border;
  }

  ul {
    list-style-type: disc
  }

  a {
    @apply underline text-primary-600 hover:text-primary-800;
  }
}

.faq {
  ol {
    @apply pl-6;
  
    & > li {
      list-style: decimal;
      list-style-position: outside;
    }
  }
  ul {
    list-style: disc;
    @apply m-0 pl-5;
    & > li {
      @apply my-4;
      & > ul {
        list-style: circle;
      }
    }
  }
  details {
    @apply -ml-6 pl-6 border-b border-neutral-600;
    & > summary {
      list-style: none;
      @apply relative cursor-pointer py-4 pr-8;
  
      &::marker, &::-webkit-details-marker {
        display: none;
      }
  
      &::after {
        content: "";
        background-image: url('~/assets/icons/chevron.svg');
        background-repeat: no-repeat;
        @apply absolute right-0 top-1/2 -translate-y-1/2 w-8 h-8;
      }
    }
    &[open] {
      @apply pb-4;
  
      & > summary {
        @apply font-medium;
  
        &::after {
          @apply transform rotate-180;
        }
      }
    }
  
    p {
      @apply mb-4;
    }
  }
  a {
    @apply underline text-primary-600 hover:text-primary-800;
  }
  table.timeline {
    th {
      @apply font-medium w-[10em] align-top border border-neutral-400 p-2;
    }
    td {
      @apply border border-neutral-400 p-2;
    }
  }
}

.contact-us {
  a {
    @apply underline text-primary-600 hover:text-primary-800;
  }
  table {
    tr {
      @apply grid grid-cols-8;
    }
    th {
      @apply font-medium align-top text-left md:pb-2 md:pb-6 pr-6 col-span-8 md:col-span-3;
    }
    td {
      @apply pb-4 md:pb-6 align-top col-span-8 md:col-span-3;
    }
    address {
      @apply not-italic;
    }
  }
}

.glossary {
  dt {
    @apply col-span-2 font-semibold;
  }
  dd {
    @apply col-span-8 mb-6 md:mb-0;
  }
}

.tooltip {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.graph-y-axis-container {
  @apply h-full pb-4 flex justify-center items-end leading-4 overflow-y-auto text-[currentColor] text-center whitespace-pre-line;
}






.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}